@charset "UTF-8";
/* ? */
body {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff; }

img {
  max-width: 100%;
  height: auto; }

.btn {
  display: block;
  margin: 0 auto;
  text-align: center;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold; }

.page-header {
  position: relative;
  margin: 0 auto;
  width: 320px;
  background-color: #283645; }

.page-header__items {
  width: 320px;
  /* сброс стилей для ul*/
  margin: 0px;
  padding: 0px;
  list-style: none;
  /* Маркеры исчезают*/
  /* сброс стилей для ul*/ }

.page-header__item {
  width: 320px;
  margin: 0 auto;
  padding: 18px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #000000;
  border-top: 2px solid #485461;
  color: #ffffff; }
  .page-header__item:first-child {
    border-top: none; }
  .page-header__item--logo {
    display: inline-block;
    padding: 17px 20px; }

.page-header__btn-close {
  position: absolute;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer; }

.page-header__image-btn-close:active {
  fill: #51374e; }

.page-header__image-btn-close:hover {
  fill: #d22856; }

.page-header__link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff; }
  .page-header__link:active {
    color: #51374e; }
  .page-header__link:hover {
    color: #d22856; }

/*
@media (min-width: 768px) {
  .page-header {
    width: 100%;
  }

  .page-header__wrapper {
    display: flex;
    margin: 0 auto;
    width: 640px;
  }
}

@media (min-width: 1200px) {
  .page-header {
    width: 100%;
  }

  .page-header__wrapper {
    margin: 0 auto;
    width: 960px;
  }
}
*/
.page-title-wrapper {
  width: 320px;
  height: 171px;
  margin: 0 auto;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 25%; }

.page-title {
  padding: 30px 45px;
  margin: 0;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  font-weight: 100;
  line-height: 28px;
  /* ? */ }

/*
@media @desktop-widths {
  .page-title-wrapper {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .page-title-wrapper {
    width: 1280px;
  }
}
*/
.page-footer {
  margin: 0 auto;
  width: 320px; }
  .page-footer--for-index {
    display: none; }

.page-footer__wrapper {
  margin: 0;
  padding: 30px 60px;
  box-sizing: border-box; }

.page-footer__logo-image {
  display: block;
  margin: 0 auto; }

.page-footer__social-items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin: 30px 0px; }

.page-footer__social-item {
  display: block;
  width: 48px;
  height: 48px;
  padding: 14px;
  border: 2px solid #485461;
  border-radius: 50%;
  box-sizing: border-box; }

.page-footer__copyright {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 20px; }

.page-footer__copyright-text {
  color: #485461; }

/*
@media (min-width: 768px) {
  .page-footer {
    width: 768px;
  }

  .page-footer__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .page-footer {
    width: 100%;
  }

  .page-footer__wrapper {
    flex-direction: row;
    margin: 0 auto;
  }
}
*/
.slogan {
  position: relative;
  width: 320px;
  margin: 0 auto;
  color: #45515e; }

.slogan__text {
  padding: 20px 40px;
  margin: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  line-height: 24px;
  /* ? */ }
  .slogan__text--small {
    padding: 50px 35px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px; }
  .slogan__text--wide {
    padding: 50px 20px 35px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px; }

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"); }

@font-face {
  font-weight: 100;
  /* ? */
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff"); }

.downloads {
  margin: 0 auto;
  width: 320px;
  background-color: #1d2631; }

.downloads__wrapper-image {
  height: 396px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 100%; }

.downloads__image {
  width: 258px;
  /* ? */
  height: 286px;
  /* ? */
  margin-top: 110px; }

.downloads__content {
  margin: 0 auto;
  width: 280px;
  padding: 25px 20px 30px; }

.downloads__btn-block {
  width: 260px;
  margin: 0 auto;
  padding: 8px 10px; }

.downloads__btn {
  width: 260px;
  padding: 8px 10px;
  border: 2px solid #ffffff;
  color: #ffffff; }

.downloads__apps {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: baseline;
      align-items: baseline;
  margin: 15px 35px; }

.downloads__text {
  display: block;
  position: relative;
  padding: 0 10px;
  margin: 0;
  text-align: center;
  color: #ffffff;
  font-weight: 100;
  line-height: 20px; }

.reasons {
  margin: 0 auto;
  width: 320px; }

.reasons__wrapper {
  margin: 0;
  padding: 5px 20px 0;
  box-sizing: border-box; }

.reasons__items {
  width: 280px;
  /* сброс стилей для ul*/
  margin: 0px;
  padding: 0px;
  list-style: none;
  /* Маркеры исчезают*/
  /* сброс стилей для ul*/
  box-sizing: border-box; }

/*
@media @tablet-widths {
  .reasons {
    width: 768px;
  }

  .reasons__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
  }
}


@media @desktop-widths {
  .reasons {
    width: 100%;
  }

  .reasons__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
*/
.reason {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  width: 280px;
  margin: 0;
  margin-top: 20px;
  box-sizing: border-box; }

.reason__title {
  text-align: center;
  margin: 0px 0px 10px;
  padding: 0px 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold; }

.reason__text {
  text-align: center;
  margin: 0px 25px 14px;
  line-height: 24px;
  color: #45515e; }

.reason__image {
  width: 150px;
  height: 280px; }
  .reason__image--mobile-hidden {
    display: none; }

.reason--wide {
  display: none; }

/*
@media @tablet-widths {
  .reason {
    flex-direction: column;
    width: 256px;
  }

  .reason__image {
    width: 512px;
    height: 256px;
  }
}


@media @desktop-widths {
  .reason {
    flex-direction: column;
    width: 400px;
  }

  .reason__image {
    width: 800px;
    height: 256px;
  }
}
*/
.reviews {
  margin: 0 auto;
  width: 320px; }

.reviews__wrapper {
  margin: 0;
  padding: 20px 20px 30px;
  box-sizing: border-box; }

.reviews__item {
  display: block;
  margin: 0;
  margin-top: 25px;
  text-align: center; }

.reviews__author‐name {
  margin: 0px 0px 10px;
  padding: 0px 20px;
  font-size: 18px;
  color: #45515e;
  line-height: 26px;
  font-weight: bold; }

.reviews__author-desc {
  display: none; }

.reviews__text {
  margin: 15px 0;
  color: #45515e;
  line-height: 26px; }

.slider__item {
  display: none; }
  .slider__item--active {
    display: block; }

.prices {
  width: 320px;
  padding: 70px 0 100px;
  margin: 0 auto;
  background-color: #f2f2f2; }

.prices__wrapper {
  margin: 0;
  box-sizing: border-box; }

.prices__table {
  width: 320px; }

.prices__head {
  background-color: #283645;
  color: #ffffff;
  font-size: 18px; }

.prices__USD {
  font-weight: 100;
  font-size: 24px; }

.prices__name {
  color: #45515e; }

.prices__name,
.prices__included,
.prices__excluded {
  background-color: #ffffff; }

.prices__option-name {
  font-size: 0; }

.prices__option-name--active {
  font-size: 14px; }
  .prices__option-name--active::after {
    content: "";
    display: table;
    width: 21.7px;
    height: 16px;
    background-color: transparent;
    background-image: url("../img/icon-yes.svg");
    /* Change color in SVG */
    background-repeat: no-repeat;
    border: none;
    cursor: pointer; }

.contacts {
  margin: 0 auto;
  width: 320px; }

.contacts__wrapper {
  margin: 0;
  padding: 28px 45px;
  box-sizing: border-box; }

.contacts__items {
  /* сброс стилей для ul*/
  margin: 0px;
  padding: 0px;
  list-style: none;
  /* Маркеры исчезают*/
  /* сброс стилей для ul*/
  box-sizing: border-box; }

.contacts__item {
  text-align: center;
  margin-top: 15px; }

.contacts__title {
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: 100;
  color: #45515e; }

.contacts__text {
  font-weight: bold;
  margin: 5px 0; }

.contacts__address,
.contacts__number,
.contacts__mail {
  font-size: 18px;
  color: #d22856;
  text-decoration: none; }

.contacts__address {
  margin: 0; }

.contacts__map {
  height: 200px;
  width: 320px;
  background: url("../img/bg-map-mobile@1x.png") center top no-repeat;
  background-size: contain; }

@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 767px) and (min-resolution: 144dpi), (max-width: 767px) and (min-resolution: 1.5dppx) {
  .contacts__map {
    background: url("../img/bg-map-mobile@2x.png") center top no-repeat;
    background-size: contain; } }

/*
@media (min-width: 768px) {
  .contacts__map  {
    width: 768px;
    background: #f5f2e4 url("../img/bg-map-tablet@1x.jpg") center top no-repeat;
    background-size: contain;
  }

  @media (min-width: 768px) and (min-resolution: 144dpi), (min-width:768px) and (min-resolution: 1.5dppx) {
    .contacts__map  {
      background: #f5f2e4 url("../img/bg-map-tablet@2x.jpg") center top no-repeat;
      background-size: contain;
    }
  }
}


@media (min-width: 1200px) {
  .contacts__map {
    background: #f5f2e4 url("../img/bg-map-desktop@1x.jpg") center top no-repeat;
    width: 1200px;
    background-size: contain;
  }

  @media (min-width: 1200px) and (min-resolution: 144dpi), (min-width:1200px) and (min-resolution: 1.5dppx) {
    .contacts__map {
      background: #f5f2e4 url("../img/bg-map-desktop@2x.jpg") center top no-repeat;
      background-size: contain;
    }
  }
}
*/
.posts {
  position: relative;
  margin: 0 auto;
  width: 320px; }

.posts__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 0 20px;
  box-sizing: border-box; }

.posts__item {
  margin-bottom: 20px; }
  .posts__item:last-child {
    margin-bottom: 0; }

/*
@media (min-width: 768px) {
  .posts {
    width: 768px;
  }

  .posts__wrapper {
    align-items: center;
    margin: 0 auto;
  }

  .posts__item {
    justify-content: flex-start;
    width: 324px;
    padding: 0;
    border-top: none;

    &:first-child {
      width: 648px;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

@media (min-width: 1200px) {
  .posts {
    width: 100%;
  }

  .posts__item {
    justify-content: flex-start;
    width: 400px;
    padding: 0;
    flex-grow: 1;
    border-top: none;

    &:first-child {
      width: 1200px;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
*/
.post {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 280px;
  box-sizing: border-box;
  background-color: #f2f2f2; }

.post__image {
  width: 280px;
  height: 180px; }
  .post__image--wide {
    margin-left: -20px;
    width: 320px;
    height: 137px; }

.post__link-full-image {
  height: 180px; }
  .post__link-full-image--wide {
    width: 320px;
    height: 137px; }

.post___label-block {
  position: absolute;
  width: 140px;
  padding: 10px 15px;
  margin: 0;
  top: 0;
  right: 0;
  background-color: #d22856;
  box-sizing: border-box;
  index: 1; }

.post___label-text {
  text-align: center;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase; }

.post__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-positive: 1;
      flex-grow: 1;
  width: 280px;
  padding: 20px 15px;
  box-sizing: border-box; }

.post__blockquote {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.post__author‐name {
  margin: 0;
  font-weight: 700;
  line-height: 24px;
  font-style: normal; }

.post__time {
  font-weight: 100; }

.post__text {
  margin: 10px 0 15px;
  line-height: 24px;
  color: #45515e; }

.post__like {
  width: 15px;
  height: 15px;
  background-color: transparent;
  background-image: url("../img/icon-heart.svg");
  /* Change color in SVG */
  background-repeat: no-repeat;
  border: none;
  cursor: pointer; }

.post__amount {
  margin-left: 9px;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 24px;
  color: #d22856; }

/*
@media (min-width: 768px) {
  .post {
    justify-content: flex-start;
    width: 324px;
    padding: 0;
    border-top: none;

    &:first-child {
      width: 648px;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .post__image {
    width: 324px;
    height: 270px;

    &--big {
      width: 648px;
      height: 400px;
    }
  }

  .post__container {
    flex-direction: row;
    justify-content: space-between;
    padding: 18px 0px 17px;
    width: 324px;

    &--wide {
      width: 648px;
    }
  }

  .post__like-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 20px 0px 0px;
  }
}


@media (min-width: 1200px) {
  .post {
    justify-content: flex-start;
    width: 400px;
    padding: 0;
    flex-grow: 1;
    border-top: none;

    &:first-child {
      width: 1200px;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .post__image {
    width: 400px;
    height: 267px;

    &--big {
      width: 1200px;
      height: 400px;
    }
  }

  .post__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0px 17px;
    width: 400px;
    margin-top: -80px;
    background-color: rgba(0, 0, 0, 0.35);

    &--wide {
      width: 1200px;
    }
  }

  .post__like-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 20px 0px 0px;
  }
}
*/
.upload {
  margin: 0 auto;
  width: 320px;
  background-color: #f2f2f2; }

.upload__title-container {
  padding: 45px 10px;
  background-color: #ffffff;
  box-sizing: border-box; }

.upload__title {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #45515e; }

.upload__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 280px;
  padding: 20px 20px 40px; }

.upload__link-full-image,
.upload__image {
  width: 280px;
  height: 375px;
  margin: 0 auto; }

.upload__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: start;
      align-items: flex-start;
  /* сброс стилей для ul*/
  margin: 0px;
  padding: 0px;
  list-style: none;
  /* Маркеры исчезают*/
  /* сброс стилей для ul*/
  padding: 35px 30px 15px;
  border-bottom: 2px solid #dddfe0; }

.upload__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }

.upload__tool-bar {
  display: none; }
  .upload__tool-bar--active {
    display: block;
    margin-top: 25px; }

.upload__btn-post,
.upload__btn-cancel {
  width: 280px;
  padding: 10px 20px;
  border: 2px solid #d22856;
  color: #d22856;
  background-color: transparent; }

.upload__btn-post {
  margin: 38px 0 10px; }

.upload__btn-cancel {
  border: 2px solid #dddfe0;
  color: #dddfe0; }

.form {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 0; }

.form__wrapper {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  width: 320px; }

.form__fields {
  margin-bottom: 35px; }
  .form__fields:last-child {
    margin-bottom: 0; }

/*
@media (min-width: 768px) {
  .form {
    width: 768px;
  }

  .form__wrapper {
    flex-wrap: wrap;
    flex-direction: row;
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .form {
    width: 100%;
    background-color: $color-background-gray;
  }

  .form__wrapper {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
*/
.fields-text {
  width: 320px;
  margin: 0 auto; }

.fields-text__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  width: 320px;
  margin: 35px 0px 20px;
  padding: 0 20px;
  border-width: 0;
  box-sizing: border-box; }

.fields-text__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: start;
      align-items: flex-start;
  width: 280px;
  margin: 0; }

.fields-text__title {
  text-align: center;
  margin: 18px 0px 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856; }

.fields-text__text {
  text-align: center;
  padding: 0;
  box-sizing: border-box;
  line-height: 26px;
  text-transform: uppercase; }

.fields-text__input {
  width: 230px;
  padding: 16px 20px 16px 17px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 26px;
  border: 2px solid #e5e5e5; }
  .fields-text__input:-ms-input-placeholder {
    color: #000000; }
  .fields-text__input::-webkit-input-placeholder {
    color: #000000; }
  .fields-text__input::-moz-placeholder {
    color: #000000; }
  .fields-text__input:-moz-placeholder {
    color: #000000; }
  .fields-text__input:hover {
    background-color: #d22856; }
  .fields-text__input:focus {
    background-color: transparent;
    box-shadow: inset 0 0 0 4px #485461; }

.fields-text__icon {
  display: none;
  height: 58px;
  min-width: 58px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  background-repeat: no-repeat;
  background-position: center;
  /*&--phone {
    background-image: url(#);
  }
  &--email {
    background-image: url(#);
  }*/ }

.fields-text__span {
  padding: 10px 0px 0px 20px;
  font-size: 13px;
  color: red; }

.fields-text__label {
  display: block;
  margin: 0 auto;
  padding: 20px 0 10px;
  line-height: 30px;
  text-transform: uppercase;
  box-sizing: border-box;
  color: #d22856; }

.fields-text__titlearea {
  width: 280px;
  min-height: 200px;
  padding: 20px 16px;
  border: 0;
  outline: 0;
  margin: 0 auto;
  margin-left: 20px;
  margin-bottom: 45px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5; }
  .fields-text__titlearea:-ms-input-placeholder {
    color: #000000; }
  .fields-text__titlearea::-webkit-input-placeholder {
    color: #000000; }
  .fields-text__titlearea::-moz-placeholder {
    color: #000000; }
  .fields-text__titlearea:-moz-placeholder {
    color: #000000; }

/*
@media (min-width: 768px) {
  .fields-text {
    align-items: flex-end;
    width: 768px;
    padding: 0px 0px 80px;

    &:first-child {
      width: 384px;
    }
  }

  .fields-text__textarea {
    width: 648px;
    min-height: 160px;
  }
}

@media (min-width: 1200px) {
  .fields-text {
    align-items: flex-end;
    width: 1200px;
    padding: 0px 0px 80px;

    &:first-child {
      align-items: center;
      width: 600px;
    }
  }

  .fields-text__textarea {
    width: 956px;
    min-height: 160px;
  }
}
*/
.fields-checkbox {
  width: 320px;
  margin: 0 auto;
  background-color: #f2f2f2; }

.fields-checkbox__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  width: 320px;
  margin: 35px 0px 20px;
  padding: 0 20px;
  border-width: 0;
  box-sizing: border-box; }

.fields-checkbox__title {
  text-align: center;
  margin: 0;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #d22856; }

.fields-checkbox__item {
  width: 280px;
  margin: 13px 0;
  -ms-flex-positive: 1;
      flex-grow: 1; }
  .fields-checkbox__item:last-child {
    margin-bottom: 0; }

.fields-checkbox__text {
  position: relative;
  display: block;
  padding: 15px 0px 15px 70px;
  cursor: pointer;
  font-size: 18px;
  line-height: 40px;
  font-weight: 400; }
  .fields-checkbox__text::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    top: 15px;
    border-radius: 1px;
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
    box-sizing: border-box; }

.fields-checkbox__input:checked + .fields-checkbox__text::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 18px;
  height: 14px;
  top: 13px;
  left: 8px;
  background-color: transparent;
  border: 4px solid #d22856;
  transform: rotate(-45deg);
  clip: rect(8px, 20px, auto, auto); }

.fields-checkbox__input:checked + .fields-checkbox__text:active::before {
  border-bottom-color: #283544;
  border-left-color: #283544; }

.fields-checkbox__input {
  display: none; }

/*
@media (min-width: 768px) {
  .fields-checkbox {
    align-items: center;
    width: 648px;
  }

  .fields-checkbox__items {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 648px;
    margin: 0px 0px 64px;
  }

  .fields-checkbox__title {
    text-align: center;
    margin: 0px 240px 10px;
  }

  .fields-checkbox__item {
    width: 235px;
    margin: 33px 0px 0px;
  }

  .fields-checkbox__item {
    &:first-child {
      order: -2;
    }
    &:nth-child(3) {
      order: -1;
    }
  }
}

@media (min-width: 1200px) {
  .fields-checkbox {
    align-items: center;
    justify-content: center;
    width: 1200px;
  }

  .fields-checkbox__items {
    flex-direction: row;
    justify-content: space-between;
    width: 958px;
    margin: 0px 0px 62px;
  }

  .fields-checkbox__title {
    margin: 0px 455px 40px;
  }

  .fields-checkbox__item{
    width: auto;
    margin: 0;

    &:first-child {
      order: -2;
    }

    &:nth-child(3) {
      order: -1;
    }
  }
}
*/
.fields-radio {
  width: 320px;
  margin: 0 auto;
  background-color: #f2f2f2; }

.fields-radio__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  width: 320px;
  margin: 35px 0px 20px;
  padding: 0 20px;
  border-width: 0;
  box-sizing: border-box; }

.fields-radio__title {
  text-align: center;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #d22856; }

.fields-radio__item {
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  margin: 7px 0px 8px;
  box-sizing: border-box; }
  .fields-radio__item:last-child {
    margin-bottom: 0; }

.fields-radio__text {
  position: relative;
  display: block;
  padding: 15px 0px 15px 70px;
  cursor: pointer;
  font-size: 18px;
  line-height: 40px;
  font-weight: 400; }
  .fields-radio__text::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    top: 15px;
    border-radius: 50%;
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
    box-sizing: border-box; }

.fields-radio__input:checked + .fields-radio__text::before {
  content: "";
  z-index: 1;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 27px;
  left: 13px;
  border-radius: 50%;
  background-color: #d22856; }

.fields-radio__input:checked + .fields-radio__text:active::before {
  background-color: #283544; }

.fields-radio__input {
  display: none; }

/*
@media (min-width: 768px) {
  .fields-radio {
    justify-content: center;
    align-items: flex-start;
    order: -2;
    width: 384px;
    padding: 0px 0px 80px 0px;
  }

  .fields-radio__items {
    align-items: flex-start;
    width: 384px;
    padding: 0;
  }

  .fields-radio__title {
    margin: 0px 0px 48px 60px;
  }

  .fields-radio__item {
    margin: 12px 0px 10px 60px;
  }
}


@media (min-width: 1200px) {
  .fields-radio {
    justify-content: center;
    order: -2;
    width: 600px;
    padding: 0px 0px 80px 0px;
  }

  .fields-radio__items {
    align-items: flex-start;
    width: 600px;
    padding: 0;
  }

  .fields-radio__title {
    margin: 0px 0px 48px 200px;
  }

  .fields-radio__item {
    margin: 12px 0px 10px 124px;
  }

  .fields-radio__text {
    padding: 15px 0px 15px 75px;
  }
}
*/
.field-action {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  width: 280px; }

.field-action__btn {
  width: 280px;
  padding: 21px 10px;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 400;
  background-color: #2aab6d;
  color: #ffffff;
  cursor: pointer; }

.field-action__text {
  margin: 40px 0 10px;
  text-transform: uppercase; }

.field-action__index {
  color: #d22856; }

/*
@media (min-width: 768px) {
  .field-action {
    justify-content: space-between;
    width: 648px;
  }

  .field-action__btn {
    width: 325px;
  }
}


@media (min-width: 1200px) {
  .field-action {
    justify-content: space-between;
    width: 960px;
  }

  .field-action__btn {
    width: 480px;
  }
}
*/
