body {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  /*outline: 1px solid red;*/
}

img {
  max-width: 100%;
  height: auto;
}
