$font-size__text--small: 12px;
$font-size__text: 14px;
$font-size__title: 18px;
$font-size__title--more: 21px;
$font-size__title--big: 24px;
$font-size__title--large: 26px;

$font-family__text: "Open Sans", "Arial", sans-serif; /* ? */

$color-gray-font: #45515e;
$color-background-gray: #283645;  // gray
$color-dark-gray: #283544;
$color-light-gray: #485461;
$color-white-gray: #f2f2f2;
$color-gray-2: #1d2631;
$color-gray-3: #e5e5e5;
$color-white: #ffffff;
$color-black: #000000;
$color-red: #d22856;
$color-dark-red: #51374e;
$color-green: #2aab6d;
