$font-size__text--small: 12px;
$font-size__text: 14px;
$font-size__title: 18px;
$font-size__title--more: 21px;
$font-size__title--big: 24px;
$font-size__title--large: 26px;

$font-family__text: "Open Sans", "Arial", sans-serif;

$color-gray-font: #45515e; //gray-font
$color-1: #283645;  //gray
$color-1-1: #283544; //dark-gray
$color-1-2: #485461; //light-gray
$color-1-3: #1d2631;
$color-1-4: #f2f2f2; //white-gray
$color-2: #ffffff; //white
$color-3: #000000;  //black
$color-4: #d22856; //red
$color-4-1: #51374e; //dark-red
