.downloads {
  margin: 0 auto;
  width: 320px;
  background-color: $color-gray-2;
}

.downloads__wrapper-image {
  height: 396px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 100%;
}

.downloads__image {
  width: 258px; /* ? */
  height: 286px; /* ? */
  margin-top: 110px;
}

.downloads__content {
  margin: 0 auto;
  width: 280px;
  padding: 25px 20px 30px;
}

.downloads__btn-block {
  width: 260px;
  margin: 0 auto;
  padding: 8px 10px;

}

.downloads__btn {
  width: 260px;
  padding: 8px 10px;
  border: 2px solid $color-white;
  color: $color-white;
}

.downloads__apps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 15px 35px;
}

.downloads__text {
  display: block;
  position: relative;
  padding: 0 10px;
  margin: 0;
  text-align: center;
  color: $color-white;
  font-weight: 100;
  line-height: 20px;
}

/*
@media (min-width: 660px) {

}

@media (min-width: 960px) {

}
*/
