.downloads {
  position: relative;
  margin: 0 auto;
  width: 320px;
  background-color: $color-gray-2;
}

.downloads__wrapper-image {
  position: relative;
  height: 396px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 100%;
}

.downloads__image {
  width: 258px;
  height: 285px;
  margin-top: 109px;
}

.downloads__content {
  margin: 0 auto;
  width: 280px;
  padding: 27px 20px 30px;
}

.downloads__title {
  display: none;
}

.downloads__btn {
  width: 255px;
  padding: 11px 10px 14px;
  border: 3px solid $color-white;
  color: $color-white;
}

.downloads__apps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 31px 38px 19px;
}

.downloads__text {
  display: block;
  position: relative;
  padding: 0 10px;
  margin: 0;
  text-align: center;
  color: $color-white;
  font-weight: 100;
  line-height: 24px;
}


@media (min-width: 660px) {
  .downloads {
    width: 660px;
  }

  .downloads__wrapper-image {
    min-height: 620px;
    width: 700px;
    margin-left: -20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .downloads__image {
    width: 470px;
    min-height: 553px;
    margin-top: 67px;
    margin-left: 180px;
  }

  .downloads__content {
    position: absolute;
    top: 93px;
    left: 8px;
    width: 300px;
    padding: 0 13px;
  }

  .downloads__title {
    display: block;
    padding: 0;
    margin: 0 45px 30px;
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    font-weight: 100;
    color: $color-white;
  }

  .downloads__btn {
    width: 300px;
    box-sizing: border-box;
  }

  .downloads__apps {
    margin: 45px 52px 33px 45px;
  }

  .downloads__text {
    font-size: $font-size__title;
    padding: 0;
    margin: 0;
  }
}


@media (min-width: 960px) {
  .downloads {
    width: 960px;
  }

  .downloads__wrapper-image {
    min-height: 745px;
    width: 1200px;
    margin-left: -120px;
  }

  .downloads__image {
    width: 555px;
    height: 645px;
    margin-top: 100px;
    margin-left: 480px;
  }

  .downloads__content {
    position: absolute;
    top: 110px;
    padding: 0;
  }

  .downloads__title {
    margin: 0 31px 50px;
    font-size: 50px;
    line-height: 60px;
  }

  .downloads__btn {
    line-height: 18px;
    font-weight: 700;
    padding: 15px 12px 16px;
    font-size: $font-size__title--more;
  }

  .downloads__apps {
    margin: 68px 48px 50px 47px;
  }

  .downloads__text {
    font-size: $font-size__title;
    padding: 0;
    margin: 0;
  }
}
