.prices {
  width: 320px;
  padding: 87px 0 42px;
  margin: 0 auto;
  background-color: $color-white-gray;
  background-image: url(../img/bg-triangle-white.svg);
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center -1px;
}

.prices__wrapper {
  width: 320px;
  overflow: hidden;
  margin: 0;
  padding-top: 4px;
  box-sizing: border-box;
}

.prices__table {
  position: relative;
  width: 1120px;
  margin-left: -539px;
  padding-bottom: 41px;
  box-sizing: border-box;
}

.prices__head {
  width: 280px;
  padding: 17px 12px 22px;
  background-color: $color-background-gray;
  color: $color-white;
  font-size: $font-size__title;
  line-height: 30px;
  text-transform: uppercase;
  box-sizing: border-box;
}

.prices__USD {
  display: block;
  font-weight: 100;
  font-size: $font-size__title--big;
}

.prices__name {
  color: $color-gray-font;
}

.prices__name,
.prices__included,
.prices__excluded {
  position: relative;
  width: 280px;
  padding: 12px 5px 14px 22px;
  line-height: 32px;
  text-transform: uppercase;
  background-color: $color-white;
  box-sizing: border-box;
}

.prices__included,
.prices__excluded {
  background-image: url("../img/icon-yes.svg");
  background-size: 31px 21px;
  background-position: center right 18px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.prices__excluded {
  background-image: url("../img/icon-no.svg");
  background-size: 27px 26px;
  background-position: center right 20px;
}

.prices__btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  margin: 0 auto;
}

.prices__btn {
  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 0;
  margin-right: 15px;
  transition-duration: 0.2s;
  border-radius: 50%;
  border: 3px solid $color-white-gray;
  color: $color-gray-3;
  cursor: pointer;
  box-sizing: border-box;

  &:first-child {
    order: -2;
  }

  &:last-child {
    order: -1;
  }

  &:nth-child(2) {
    margin-right: 0;
  }

  &:hover {
    color: $color-gray-6;
  }

  &:focus {
    color: $color-white-gray;
    border-color: $color-black;
  }
}

.prices__btn--active {
  color: $color-white-gray;
  border-color: $color-black;
}

.prices__btn:nth-child(1):focus ~ .prices__btn:last-child {
  color: $color-gray-3;
  border-color: $color-white-gray;
}

.prices__btn:nth-child(2):focus ~ .prices__btn:last-child {
  color: $color-gray-3;
  border-color: $color-white-gray;
}

.prices__head--label {
  position: relative;

  &::before {
    position: absolute;
    content: attr(data-description);
    left: 6px;
    top: 12px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 700;
    transform: rotate(-45deg);
    text-transform: uppercase;
    z-index: 1;
  }

  &::after {
    position: absolute;
    content: "";
    width: 70px;
    height: 73px;
    left: -2px;
    top: 0px;
    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
  }
}


@media (min-width: 660px) {
  .prices {
    width: 660px;
    padding: 0;
    margin: 0 auto;
  }

  .prices__wrapper {
    padding: 85px 20px 24px 17px;
    overflow: visible;
  }

  .prices__table {
    width: 628px;
    margin-left: 0;
    box-sizing: border-box;
    border: 2px solid $color-white-gray;
  }

  .prices__head {
    width: 157px;
    padding: 12px 30px 12px 27px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    box-sizing: border-box;

    &--null {
      background-color: transparent;
    }
  }

  .prices__USD {
    font-size: $font-size__title;
  }

  .prices__name {
    width: 156px;
    padding: 1.5px 18px 5px 15px;
    line-height: 38px;
    text-transform: capitalize;
  }

  .prices__included,
  .prices__excluded {
    width: 157px;
    padding: 0px 10px 4px;
  }

  .prices__included,
  .prices__excluded {
    background-position: center;
  }

  .prices__option-name {
    font-size: 0;
    padding: 0;
  }

  .prices__btn-container {
    display: none;
  }

  .prices__head--label {

    &::before {
      left: 5px;
      top: 5px;
    }

    &::after {
      left: 0px;
      background-image: url("../img/bg-hit-tablet.svg");
    }
  }
}


@media (min-width: 960px) {
  .prices {
    width: 960px;
  }

  .prices__wrapper {
    width: 960px;
    padding: 133px 10px 94px 6px;
  }

  .prices__table {
    width: 948px;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid $color-white-gray;
  }

  .prices__head {
    width: 234px;
    padding: 16px 55px 22px;
    line-height: 30px;
    font-size: $font-size__title
  }

  .prices__USD {
    font-size: $font-size__title--big;
  }

  .prices__name {
    width: 234px;
    padding: 8px 18px 10px 20px;
    font-size: $font-size__title;
    line-height: 40px;
  }

  .prices__included,
  .prices__excluded {
    width: 234px;
    padding: 5px 90px;
  }

  .prices__head--label {

    &::before {
      left: 10px;
      top: 10px;
    }

    &::after {
      left: 0px;
      background-image: url("../img/bg-hit.svg");
    }
  }
}
