.prices {
  padding: 67px 0 94px;
  margin: 0;
  background-color: $color-white-gray;
}

.prices__wrapper {
  margin: 0;
  box-sizing: border-box;
}

.prices__table {
  position: relative;
}

.prices__head {
  width: 280px;
  padding: 17px 10px 22px; /* временно */
  background-color: $color-background-gray;
  color: $color-white;
  font-size: $font-size__title;
  line-height: 30px;
  text-transform: uppercase;
}

.prices__USD {
  display: block;
  font-weight: 100;
  font-size: $font-size__title--big;
  line-height: 30px;
}

.prices__name {
  color: $color-gray-font;
}

.prices__name,
.prices__included,
.prices__excluded {
  position: relative;
  width: 280px;
  padding: 7px; /* временно */
  line-height: 30px;
  text-transform: uppercase;
  background-color: $color-white;
  box-sizing: border-box;
}

.prices__included--active::after,
.prices__excluded--active::after {
  position: absolute;
  content:"";
  width: 21.7px;
  height: 16px;
  left: 95px;
  bottom: 15px;
  background-color: transparent;
  background-image: url("../img/icon-yes.svg"); /* Change color in SVG */
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}


@media (min-width: 660px) {
  .prices {
    width: 660px;
    padding: 0;
    margin: 0 auto;
  }

  .prices__wrapper {
    padding: 85px 20px 63px;
  }

  .prices__table {
    width: 620px;
    box-sizing: border-box;
    border: 2px solid $color-white-gray;
  }

  .prices__head {
    width: 155px;
    padding: 12px 30px 8px; /* временно */
    font-size: 16px;
    font-weight: 700;
    box-sizing: border-box;

    &--null {
      background-color: $color-white-gray;
    }
  }

  .prices__USD {
    font-size: $font-size__title;
  }

  .prices__name {
    width: 155px;
    padding: 0 13px; /* временно */
    text-transform: capitalize;
  }

  .prices__included,
  .prices__excluded {
    width: 155px;
    padding: 5px 10px; /* временно */
  }

  .prices__included::after,
  .prices__excluded::after {
    position: absolute;
    content:"";
    width: 32px;
    height: 23px;
    left: 67px;
    bottom: 10px;
    background-color: transparent;
    background-image: url("../img/icon-yes.svg"); /* Change color in SVG */
    background-repeat: no-repeat;
    background-size: auto; /* ? */
    border: none;
    cursor: pointer;
  }

  .prices__option-name {
    font-size: 0;
  }
}



@media (min-width: 960px) {
  .prices {
    width: 960px;
  }

  .prices__wrapper {
    padding: 148px 10px 93px;
  }

  .prices__table {
    width: 950px;
    box-sizing: border-box;
    border: 2px solid $color-white-gray;
  }

  .prices__head {
    width: 235px;
    padding: 16px 55px 20px; /* временно */
    font-size: $font-size__title
  }

  .prices__USD {
    font-size: $font-size__title--big;
  }

  .prices__name {
    width: 235px;
    padding: 13px 18px 16px; /* временно */
    font-size: $font-size__title;
  }

  .prices__included,
  .prices__excluded {
    width: 235px;
    padding: 5px 90px; /* временно */
  }

  .prices__included::after,
  .prices__excluded::after {
    left: 100px;
    bottom: 10px;
  }
}
