.reasons {
  margin: 0 auto;
  max-width: 320px;
  background-color: $color-white-gray;
  background-image: url(../img/bg-triangle-white.svg);
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center -1px;
  box-sizing: border-box;
}

.reasons__items {
  position: relative;
  max-width: 320px;
  @include reset-ul-style;
  padding: 62px 20px 0;
  box-sizing: border-box;
}

.reasons__item {
  margin: 0;
  margin-top: 16px;
}


@media (min-width: 660px) {
  .reasons {
    max-width: 660px;
  }

  .reasons__items {
    max-width: 660px;
    margin: 0 auto;
    padding: 75px 20px 40px;
  }

  .reasons__item {
    margin: 0;
    margin-left: 302px;

    &:last-child {
      margin-top: 105px;
    }
  }
}


@media (min-width: 960px) {
  .reasons {
    max-width: 960px;
  }

  .reasons__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 960px;
    padding: 0 0px 112px;
  }

  .reasons__item {
    margin: 0;

    &:last-child {
      margin-top: 108px;
    }
  }
}
