.reason {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  box-sizing: border-box;

  &--wide {
    display: none;
  }
}

.reason__title {
  text-align: center;
  margin: 0 0 11px;
  padding: 0 20px;
  font-size: $font-size__title;
  line-height: 26px;
  font-weight: 700;
}

.reason__text {
  text-align: center;
  margin: 0 0 14px;
  line-height: 24px;
  color: $color-gray-font;
}

.reason__image {
  display: none;
  width: 157px;
  background-size: cover;

  &--active {
    display: inline-block;
  }
}

.reason__container-image {
  margin-top: 27px;
  width: 157px;
  height: 277px;
  overflow: hidden;
}


@media (min-width: 660px) {
  .reason {
    width: 320px;
    align-items: flex-start;

    &--wide {
      display: block;
      position: relative;
    }
  }

  .reason--wide::before {
    position: absolute;
    content: "24";
    width: 238px;
    height: 276px;
    right: 390px;
    top: -38px;
    font-size: 96px;
    line-height: 300px;
    text-align: center;
    color: $color-red;
    font-weight: 700;
    background-image: url("../img/icon-editor-diagram-fill.svg"), url("../img/icon-timer.svg");
    background-size: 202px, 238px 276px;
    background-repeat: no-repeat;
    background-position: center 56px, center;
  }

  .reason__desc {
    margin-bottom: 19px;
  }

  .reason__title {
    padding: 0;
    text-align: left;

    &--wide {
      margin-right: 150px;
      font-size: $font-size__title--huge;
      line-height: 36px;
      font-weight: 700;
    }
  }

  .reason__text {
    text-align: left;

    &--wide {
      margin-right: 20px;
      margin-bottom: 11px;
    }
  }

  .reason__image {
    width: 268px;
    height: 481px;
  }

  .reason__container-image {
    position: absolute;
    width: 268px;
    height: 481px;
    left: 20px;
    top: -22px;
  }

  .reason__link {
    display: block;
    margin: 12px 0 0;
    color: $color-red;
  }
}


@media (min-width: 960px) {
  .reason {
    width: 300.8px;
    align-items: center;
    justify-content: space-between;
    padding: 0;

    &--wide {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 940px;
    }
  }

  .reason__desc {
    margin: 43px 10px 0 15px;
    order: 2;

    &--left {
      margin: 43px 30px 0 32px;
      line-height: 28px;
    }

    &--right {
      margin: 48px 30px 0 30px;
      line-height: 28px;
    }
  }

  .reason__title {
    padding: 0;
    margin-bottom: 26px;
    text-align: center;
    font-size: $font-size__title--huge;
    line-height: 30px;

    &--wide {
      text-align: left;
      margin-right: 20px;
      margin-bottom: 23px;
    }
  }

  .reason__text {
    text-align: center;
    margin: 0;
    font-size: $font-size__title;
    line-height: 30px;
    font-weight: 400;

    &--wide {
      text-align: left;
      line-height: 30px;
      margin: 0 15px 32px 0;
    }
  }

  .reason__image {
    display: inline-block;
    position: relative;
    margin-top: 0;
    width: 292px;
    height: 302px;
    order: 1;
  }

  .reason__container-image {
    position: relative;
    margin-top: 0;
    width: 292px;
    height: 302px;
    left: 0;
    top: 0;
    order: 1;
  }

  .reason--wide::before {
    width: 298px;
    height: 345px;
    left: 0;
    top: -47px;
    font-size: 120px;
    line-height: 382px;
    background-size: 253px,298px 345px;
    background-position: center 70px,center;
  }

  .reason__research {
    width: 545px;
    margin: 47px 30px 0 367px;
  }

  .reason__link {
    font-size: $font-size__title;
    line-height: 30px;
  }
}
