.reason {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin: 0;
  margin-top: 20px;
  box-sizing: border-box;
}

.reason__title {
  text-align: center;
  margin: 0px 0px 10px;
  padding: 0px 20px;
  font-size: $font-size__title;
  line-height: 26px;
  font-weight: bold;
}

.reason__text {
  text-align: center;
  margin: 0px 25px 14px;
  line-height: 24px;
  color: $color-gray-font;
}

.reason__image {
  width: 150px;
  height: 280px;

  &--mobile-hidden {
    display: none;
  }
}

.reason--wide {
  display: none;
}

/*
@media (min-width: 660px) {
  .reason {
    flex-direction: column;
    width: 256px;
  }

  .reason__image {
    width: 512px;
    height: 256px;
  }
}


@media (min-width: 960px) {
  .reason {
    flex-direction: column;
    width: 400px;
  }

  .reason__image {
    width: 800px;
    height: 256px;
  }
}
*/
