.reason {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  box-sizing: border-box;

  &--wide {
    display: none;
  }
}

.reason__title {
  text-align: center;
  margin: 0 0 11px;
  padding: 0 20px;
  font-size: $font-size__title;
  line-height: 26px;
  font-weight: 700;
}

.reason__text {
  text-align: center;
  margin: 0 0 14px;
  line-height: 24px;
  color: $color-gray-font;
}

.reason__image {
  display: none;
  width: 157px;
  background-size: cover;

  &--active {
    display: inline-block;
  }
}

.reason__container-image {
  margin-top: 27px;
  width: 157px;
  height: 277px;
  overflow: hidden;
}


@media (min-width: 660px) {
  .reason {
    width: 320px;
    align-items: flex-start;

    &--wide {
      display: block;
    }
  }

  .reason__desc {
    margin-bottom: 19px;
  }

  .reason__title {
    padding: 0;
    text-align: left;

    &--wide {
      margin-right: 150px;
      font-size: $font-size__title--huge;
      line-height: 36px;
      font-weight: 700;
    }
  }

  .reason__text {
    text-align: left;

    &--wide {
      margin-right: 20px;
      margin-bottom: 11px;
    }
  }

  .reason__image {
    width: 268px;
    height: 481px;
  }

  .reason__container-image {
    position: absolute;
    margin-top: 27px;
    width: 268px;
    height: 481px;
    left: 20px;
    top: -8px;
  }

  .reason__image-24h {
    position: absolute;
    width: 240px;
    height: 277px;
    left: 20px;
    bottom: 9px;
  }

  .reason__link {
    display: block;
    margin: 12px 0 0;
    color: $color-red;
  }
}


@media (min-width: 960px) {
  .reason {
    width: 313px;
    align-items: center;
    justify-content: space-between;
    padding: 0;

    &--wide {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 940px;
    }
  }

  .reason__desc {
    margin: 55px 35px 0 35px;
    order: 2;

    &--left {
      margin: 53px 40px 0 27px;
      line-height: 28px;
    }

    &--right {
      margin: 53px 27px 0 40px;
      line-height: 28px
    }
  }

  .reason__title {
    padding: 0;
    margin-bottom: 26px;
    padding: 0 10px;
    text-align: center;
    font-size: $font-size__title--huge;
    line-height: 30px;

    &--wide {
      text-align: left;
      padding: 0;
      margin-right: 20px;
      margin-bottom: 23px;
    }
  }

  .reason__text {
    text-align: center;
    margin: 0;
    font-size: $font-size__title;
    line-height: 30px;
    font-weight: 400;

    &--wide {
      text-align: left;
      line-height: 30px;
      margin: 0 15px 32px 0;
    }
  }

  .reason__image {
    display: inline-block;
    position: relative;
    margin-top: 0;
    width: 186px;
    height: 302px;
    order: 1;
  }

  .reason__container-image {
    position: relative;
    margin-top: 0;
    width: 186px;
    height: 302px;
    left: 0;
    top: 0;
    order: 1;
  }

  .reason__image-24h {
    position: relative;
    width: 300px;
    height: 345px;
    left: 0;
  }

  .reason__research {
    width: 545px;
    margin: 25px 30px 0 0;

  }

  .reason__link {
    font-size: $font-size__title;
    line-height: 30px;
  }
}
