.reasons {
  margin: 0 auto;
  width: 320px;
}

.reasons__items {
  position: relative;
  width: 320px;
  @include reset-ul-style;
  padding: 62px 20px 40px;
  box-sizing: border-box;
}

.reasons__item {
  margin: 0;
  margin-top: 16px;
}


@media (min-width: 660px) {
  .reasons {
    width: 660px;
  }

  .reasons__items {
    width: 660px;
    margin: 0 auto;
    padding: 87px 20px 40px;
  }

  .reasons__item {
    margin: 0;
    margin-left: 310px;

    &:last-child {
      margin-top: 105px;
    }
  }
}


@media (min-width: 960px) {
  .reasons {
    width: 960px
  }

  .reasons__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 960px;
    padding: 43px 10px 52px;
  }

  .reasons__item {
    margin: 0;

    &:last-child {
      margin-top: 75px;
    }
  }
}
