.reviews {
  max-width: 320px;
  margin: 0 auto;
}

.reviews__wrapper {
  position: relative;
  margin: 0;
  padding: 45px 20px 40px;
  box-sizing: border-box;
}

.reviews__item {
  display: block;
  margin: 0;
  margin-top: 25px;
  text-align: center;
  z-index: 1;

  &:first-child {
    margin-top: 0;
  }
}

.reviews__author‐name {
  max-width: 280px;
  margin: 0 0 10px;
  padding: 0 20px;
  font-size: $font-size__title;
  font-weight: 700;
  font-style: normal;
  line-height: 26px;
  color: $color-gray-font;
}

.reviews__author-desc {
  display: none;
}

.reviews__text {
  max-width: 280px;
  margin: 16px 0 32px;
  line-height: 30px;
  color: $color-gray-font;
  quotes: "«" "»"; /* Устанавливаем вид кавычек */

  &::before {
    content: open-quote; /* Добавляем перед текстом открывающую кавычку */
  }

  &::after {
    content: close-quote; /* Добавляем после текста закрывающую кавычку */
  }
}

.reviews__btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  margin: 0 auto;
}

.reviews__btn {
  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 0;
  margin-right: 15px;
  transition-duration: 0.2s;
  border-radius: 50%;
  border: 3px solid $color-white;
  color: $color-gray-3;
  cursor: pointer;
  box-sizing: border-box;

  &:last-child {
    order: -1;
  }

  &:nth-child(2) {
    margin-right: 0;
  }

  &:hover {
    color: $color-gray-6;
  }

  &:focus {
    color: $color-white;
    border-color: $color-black;
  }
}

.reviews__btn--active {
  color: $color-white;
  border-color: $color-black;
}

.reviews__btn:nth-child(1):focus ~ .reviews__btn:last-child {
  color: $color-gray-3;
  border-color: $color-white;
}

.reviews__btn:nth-child(2):focus ~ .reviews__btn:last-child {
  color: $color-gray-3;
  border-color: $color-white;
}

.reviews__icon {
  display: none;
}


@media (min-width: 660px) {
  .reviews {
    max-width: 660px;
  }

  .reviews__wrapper {
    padding: 72px 10px 21px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:first-child {
      display: flex;
    }
  }

  .reviews__author‐name {
    max-width: 660px;
    margin: 3px 0 0;
    font-size: 20px;
    line-height: 30px;
    order: 2;
  }

  .reviews__author-desc {
    display: block;
    max-width: 660px;
    margin: 0;
    margin-bottom: 35px;
    line-height: 30px;
    order: 3;
  }

  .reviews__text {
    max-width: 660px;
    font-size: $font-size__title;
    order: 1;
  }

  .reviews__btn:last-child {
    order: -2;
  }
}


@media (min-width: 960px) {
  .reviews {
    max-width: 960px;
  }

  .reviews__wrapper {
    padding: 170px 10px 16px;
  }

  .reviews__item {
    padding: 0 120px;

    &::before {
      position: absolute;
      content: "";
      left: 50%;
      top: 16%;
      transform: translateX(-50%);
      width: 77px;
      height: 64px;
      background-image: url("../img/icon-quotes.svg");
    }
  }

  .reviews__text {
    max-width: 700px;
  }

  .reviews__author‐name {
    margin: 3px 0;
    font-size: $font-size__title--big;
  }

  .reviews__author-desc {
    font-size: $font-size__title;
  }

  .reviews__text::before,
  .reviews__text::after {
    display: none;
  }

  .reviews__icon {
    display: block;
    fill: #c2c6ca;
  }

  .reviews__btn:hover > .reviews__icon {
    fill: $color-gray-7;
  }

  .reviews__btn:active > .reviews__icon {
    fill: $color-gray-8;
  }

  .reviews__btn:focus {
    outline: none;
  }

  .reviews__btn-container {
    display: block;
    position: absolute;
  }

  .reviews__btn {
    display: block;
    position: absolute;
    bottom: 150px;
    width: 22px;
    height: 50px;
    border: none;
    background-color: transparent;

    &:first-child {
      display: none;
    }

    &:nth-child(2) {
      left: 910px;
    }

    &:last-child {
      left: 0;
    }
  }
}
