.fields-checkbox {
  width: 320px;
  margin: 0 auto;
  background-color: $color-white-gray;
}

.fields-checkbox__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 39px 0px 27px;
  padding: 0 20px;
  border-width: 0;
  box-sizing: border-box;
}

.fields-checkbox__title {
  text-align: center;
  margin: 0 20px 9.5px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-red;
}

.fields-checkbox__item {
  width: 280px;
  margin: 13px 0;
  flex-grow: 1;

  &:last-child {
    margin-bottom: 0;
  }
}

.fields-checkbox__text {
  position: relative;
  display: block;
  padding: 15px 0px 14px 70px;
  cursor: pointer;
  font-size: $font-size__title;
  line-height: 40px;
  font-weight: 400;

  &::after {
    content:"";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    top: 15px;
    border-radius: 1px;
    border: 2px solid $color-gray-3;
    background-color: $color-white;
    box-sizing: border-box;
  }
}

.fields-checkbox__input:checked + .fields-checkbox__text::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 23px;
  height: 14px;
  top: 16px;
  left: 5px;
  background-color: transparent;
  border: 3px solid $color-red;
  transform: rotate(-45deg);
  clip: rect(10px, 22px, auto, auto);
}

.fields-checkbox__input:checked + .fields-checkbox__text:active::before {
  border-bottom-color: $color-dark-gray;
  border-left-color: $color-dark-gray;
}

.fields-checkbox__input {
  display: none;
}

/*
@media (min-width: 660px) {
  .fields-checkbox {
    align-items: center;
    width: 648px;
  }

  .fields-checkbox__items {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 648px;
    margin: 0px 0px 64px;
  }

  .fields-checkbox__title {
    text-align: center;
    margin: 0px 240px 10px;
  }

  .fields-checkbox__item {
    width: 235px;
    margin: 33px 0px 0px;
  }

  .fields-checkbox__item {
    &:first-child {
      order: -2;
    }
    &:nth-child(3) {
      order: -1;
    }
  }
}

@media (min-width: 960px) {
  .fields-checkbox {
    align-items: center;
    justify-content: center;
    width: 960px;
  }

  .fields-checkbox__items {
    flex-direction: row;
    justify-content: space-between;
    width: 920px;
    margin: 0px 0px 20px;
  }

  .fields-checkbox__title {
    margin: 0px 455px 40px;
  }

  .fields-checkbox__item{
    width: auto;
    margin: 0;

    &:first-child {
      order: -2;
    }

    &:nth-child(3) {
      order: -1;
    }
  }
}
*/
