/*.field-text {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 0px 0px 24px;
  flex-grow: 1;
  border-bottom: 2px solid @color-1;
  box-sizing: border-box;
  font-family: inherit;
}

.field-text:first-child {
  padding: 0px 0px 21px;
}

.field-text__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 320px;
}

.field-text__title {
  text-align: center;
  margin: 18px 0px 20px;
  font-size: @font-size__title;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.field-text__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  margin: 0px 0px 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.field-text__text {
  text-align: center;
  padding: 0;
  box-sizing: border-box;
  font-size: @font-size__text;
  line-height: 26px;
  text-transform: uppercase;
}

.field-text__input {
  width: 230px;
  padding: 16px 20px 16px 17px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-size: @font-size__title;
  line-height: 26px;
  font-weight: bold;
  color: @color-3;
  background-color: @color-1;

  &:-ms-input-placeholder {
    color: @color-3;
  }

  &::-webkit-input-placeholder {
    color: @color-3;
  }

  &::-moz-placeholder {
    color: @color-3;
  }

  &:-moz-placeholder {
    color: @color-3;
  }

  &:hover {
    background-color: @color-1-2;
  }

  &:focus {
    background-color: transparent;
    box-shadow: inset 0 0 0 4px @color-1-2;
  }
}

.field-text__icon {
  height: 58px;
  min-width: 58px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  background-color: @color-1-2;
  background-repeat: no-repeat;
  background-position: center;

  &--phone {
    background-image: url(../img/icon-phone.svg);
  }
  &--email {
    background-image: url(../img/icon-mail.svg);
  }
}

.field-text__span {
  padding: 10px 0px 0px 20px;
  font-size: 13px;
  color: red;
}

.field-text__label {
  text-align: center;
  font-size: @font-size__title;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 20px 0px;
}

.field-text__textarea {
  width: 280px;
  min-height: 160px;
  padding: 20px 16px;
  border: 0;
  outline: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: @font-size__title;
  line-height: 26px;
  font-weight: bold;
  color: @color-3;
  background-color: @color-1;

  &:-ms-input-placeholder {
    color: @color-3;
  }

  &::-webkit-input-placeholder {
    color: @color-3;
  }

  &::-moz-placeholder {
    color: @color-3;
  }

  &:-moz-placeholder {
    color: @color-3;
  }
}


@media @tablet-widths {
  .field-text {
    align-items: flex-end;
    width: 768px;
    padding: 0px 0px 80px;

    &:first-child {
      width: 384px;
    }
  }

  .field-text__textarea {
    width: 648px;
    min-height: 160px;
  }
}

@media @desktop-widths {
  .field-text {
    align-items: flex-end;
    width: 1200px;
    padding: 0px 0px 80px;

    &:first-child {
      align-items: center;
      width: 600px;
    }
  }

  .field-text__textarea {
    width: 956px;
    min-height: 160px;
  }
}
*/
