.fields-radio {
  width: 320px;
  background-color: $color-white-gray;
}

  .fields-radio__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    margin: 38px 0 27px;
    padding: 0 20px;
    border-width: 0;
    box-sizing: border-box;
  }

  .fields-radio__legend {
    margin: 0 20px 15px;
    text-align: center;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: $color-red;
  }

  .fields-radio__item {
    display: flex;
    width: 280px;
    margin: 5px 0px 0;
    box-sizing: border-box;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .fields-radio__input {
    display: none;
  }

  .fields-radio__text {
    position: relative;
    display: block;
    padding: 15px 0 15px 70px;
    cursor: pointer;
    font-size: $font-size__title;
    line-height: 40px;
    font-weight: 400;

    &::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      left: 0;
      top: 15px;
      border-radius: 50%;
      border: 2px solid $color-gray-3;
      background-color: $color-white;
      box-sizing: border-box;
    }
  }

  .fields-radio__text:hover::after {
    border-color: $color-black;
  }

  .fields-radio__text:active::after {
    border-color: $color-red;
  }

  .fields-radio__input:checked + .fields-radio__text::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 27px;
    left: 13px;
    border-radius: 50%;
    background-color: $color-red;
    z-index: 1;
  }


@media (min-width: 660px) {
  .fields-radio {
    width: 620px;
    background-color: $color-white;
  }

  .fields-radio__items {
    width: 620px;
    margin: 0;
    padding: 28px 0 45px 58px;
    border: 2px solid $color-gray-3;
  }

  .fields-radio__legend {
    padding: 0 30px;
    margin: 0;
    line-height: 30px;
  }

  .fields-radio__item {
    width: 540px;
    margin: 0 0 15px;
    box-sizing: border-box;
  }

  .fields-radio__text {
    padding-left: 60px;
    line-height: 30px;

    &::after {
      top: 10px;
    }
  }

  .fields-radio__input:checked + .fields-radio__text::before {
    top: 22px;
  }
}


@media (min-width: 960px) {
  .fields-radio {
    width: 435px;
  }

  .fields-radio__items {
    width: 435px;
    padding: 28px 0 45px 60px;
  }

  .fields-radio__legend {
    padding: 0 25px;
  }

  .fields-radio__item {
    width: 300px;
    margin: 0 0 14px;
  }

  .fields-radio__text {
    padding-left: 72px;
    line-height: 30px;

    &::after {
      top: 12px;
      left: 13px;
    }
  }

  .fields-radio__input:checked + .fields-radio__text::before {
    top: 24px;
    left: 25px;
  }
}
