/*.field-radio {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 0px 0px 21px;
  flex-grow: 1;
  border-bottom: 2px solid @color-1;
  box-sizing: border-box;
  font-family: inherit;
}

  .field-radio__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
  }

  .field-radio__title {
    text-align: center;
    font-size: @font-size__title;
    line-height: 26px;
    margin: 18px 0px 18px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .field-radio__item {
    display: flex;
    width: 280px;
    margin: 7px 0px 8px;
    box-sizing: border-box;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .field-radio__text {
    position: relative;
    display: block;
    padding: 15px 0px 15px 80px;
    cursor: pointer;
    font-size: @font-size__title;
    line-height: 26px;
    font-weight: bold;

    &::after {
      content: "";
      position: absolute;
      width: 57px;
      height: 57px;
      top: 0;
      left: 0;
      border-radius: 50%;
      background-color: @color-1;
    }
  }

  .field-radio__text:hover::after {
    background-color: @color-1-2;
  }

  .field-radio__text:active::after {
    background-color: @color-1-3;
  }

  .field-radio__input:checked + .field-radio__text::before {
    content: "";
    z-index: 1;
    position: absolute;
    width: 22px;
    height: 22px;
    top: 17px;
    left: 17px;
    border-radius: 50%;
    background-color: @color-3;
  }

  .field-radio__input:checked + .field-radio__text:active::before {
    background-color: #a4a4a4;
  }

  .field-radio__input {
    display: none;
  }


@media @tablet-widths {
  .field-radio {
    justify-content: center;
    align-items: flex-start;
    order: -2;
    width: 384px;
    padding: 0px 0px 80px 0px;
  }

  .field-radio__items {
    align-items: flex-start;
    width: 384px;
    padding: 0;
  }

  .field-radio__title {
    margin: 0px 0px 48px 60px;
  }

  .field-radio__item {
    margin: 12px 0px 10px 60px;
  }
}


@media @desktop-widths {
  .field-radio {
    justify-content: center;
    order: -2;
    width: 600px;
    padding: 0px 0px 80px 0px;
  }

  .field-radio__items {
    align-items: flex-start;
    width: 600px;
    padding: 0;
  }

  .field-radio__title {
    margin: 0px 0px 48px 200px;
  }

  .field-radio__item {
    margin: 12px 0px 10px 124px;
  }

  .field-radio__text {
    padding: 15px 0px 15px 75px;
  }
}
*/
