/*.field-checkbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  flex-grow: 1;
  border-bottom: 2px solid @color-1;
  font-family: inherit;
}

.field-checkbox__title {
  text-align: center;
  margin: 23px 0px 0px;
  font-size: @font-size__title;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.field-checkbox__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  margin: 0px 0px 20px;
}

.field-checkbox__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 280px;
  margin: 13px 0px;
  flex-grow: 1;

  &:last-child {
    margin-bottom: 0;
  }
}

.field-checkbox__input {
  display: none;
}

.field-checkbox__text {
  position: relative;
  display: block;
  padding: 15px 0px 15px 80px;
  cursor: pointer;
  font-size: @font-size__title;
  line-height: 26px;
  font-weight: bold;

  &::after {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    left: 0;
    top: 0;
    border-radius: 7px;
    background: @color-1;
  }
}

.field-checkbox__text:hover::after {
  background-color: @color-1-2;
}

.field-checkbox__text:active::after {
  background-color: @color-1-3;
}

.field-checkbox__input:checked + .field-checkbox__text::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 18px;
  height: 14px;
  top: 15px;
  left: 15px;
  background-color: transparent;
  border: 4px solid  @color-3;
  transform: rotate(-45deg);
  clip: rect(8px, 20px, auto, auto);
}

.field-checkbox__input:checked + .field-checkbox__text:active::before {
  border-bottom-color: #a4a4a4;
  border-left-color: #a4a4a4;
}


@media @tablet-widths {
  .field-checkbox {
    align-items: center;
    justify-content: center;
    width: 648px;
  }

  .field-checkbox__items {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 648px;
    margin: 0px 0px 64px;
  }

  .field-checkbox__title {
    text-align: center;
    margin: 0px 240px 10px;
  }

  .field-checkbox__item {
    width: 235px;
    margin: 33px 0px 0px;
  }

  .field-checkbox__item {
    &:first-child {
      order: -2;
    }
    &:nth-child(3) {
      order: -1;
    }
  }
}

@media @desktop-widths {
  .field-checkbox {
    align-items: center;
    justify-content: center;
    width: 1200px;
  }

  .field-checkbox__items {
    flex-direction: row;
    justify-content: space-between;
    width: 958px;
    margin: 0px 0px 62px;
  }

  .field-checkbox__title {
    margin: 0px 455px 40px;
  }

  .field-checkbox__item{
    width: auto;
    margin: 0;

    &:first-child {
      order: -2;
    }

    &:nth-child(3) {
      order: -1;
    }
  }
}
*/
