.field-action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 280px;
}

.field-action__btn {
  width: 280px;
  padding: 17px 10px;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: $font-size__title;
  line-height: 30px;
  font-weight: 700;
  background-color: $color-green;
  color: $color-white;
  cursor: pointer;
}

.field-action__text {
  margin: 40px 0 20px;
  text-transform: uppercase;
}

.field-action__index {
  color: $color-red;
}

/*
@media (min-width: 660px) {
  .field-action {
    justify-content: space-between;
    width: 648px;
  }

  .field-action__btn {
    width: 325px;
  }
}


@media (min-width: 960px) {
  .field-action {
    justify-content: space-between;
    width: 960px;
  }

  .field-action__btn {
    width: 480px;
  }
}
*/
