.form {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

.form__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
}

.form__fields {
  margin-bottom: 35px;

  &:last-child {
    margin-bottom: 0;
  }
}

/*
@media (min-width: 768px) {
  .form {
    width: 768px;
  }

  .form__wrapper {
    flex-wrap: wrap;
    flex-direction: row;
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .form {
    width: 100%;
    background-color: $color-background-gray;
  }

  .form__wrapper {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: $color-white;
  }
}
*/
