.page-header {
  position: relative;
  margin: 0 auto;
  width: 320px;
  background-color: $color-background-gray;
  box-sizing: border-box;
}

.page-header__items {
  width: 320px;
  @include reset-ul-style;
  margin: 0 auto;
  box-sizing: border-box;
}

.page-header__item {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  border-bottom: 1px solid $color-black;
  border-top: 1px solid $color-light-gray;
  background-color: $color-background-gray;

  &:first-child {
    border-top: none;
  }

  &--logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 21px;
  }
}

.page-header__logo-image {
  display: block;

  &--tablet,
  &--desktop {
    display: none;
  }
}

.page-header__logo-image-path {
  fill: $color-white;
}

.page-header__logo-image:hover .page-header__logo-image-path {
  fill: $color-red;
}

.page-header__logo-image:active .page-header__logo-image-path {
  fill: $color-gray-9;
}

.page-header__btn-close {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.page-header__image-btn-close {
  width: 24px;
  height: 24px;

  &:hover {
    fill: $color-red-2;
  }

  &:active {
    fill: $color-red-3
  }
}

.page-header__link {
  display: block;
  padding: 19px 20px;
  text-align: center;
  text-decoration: none;
  font-size: $font-size__title;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-white;
  cursor: auto;

  &:hover {
    color: $color-red;
  }

  &:active {
    color: $color-gray-9;
  }
}


@media (min-width: 660px) {
  .page-header {
    width: 100%;
  }

  .page-header__items {
    width: 660px;
  }

  .page-header__item {
    width: 660px;

    &--logo {
      align-items: flex-end;
      padding: 26px 20px 39px;
    }
  }

  .page-header__logo-image {
    display: block;

    &--mobile,
    &--desktop {
      display: none;
    }
  }

  .page-header__link {
    padding: 18px 0 19.5px;
  }

  .page-header__btn-close {
    padding: 0;
  }
}


@media (min-width: 960px) {
  .page-header {
    width: 100%;
    max-width: 1200px;
  }

  .page-header__items {
    width: 960px;
    padding: 21px 0 25px 77px; /* временно */
    background-color: $color-background-gray;
  }

  .page-header__item {
    display: inline-block;
    width: auto;
    margin-right: 69px; /* временно */
    border: none;

    &:nth-child(2) {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &--logo {
      width: 90px; /* временно */
      margin-right: 150px; /* временно */
      padding: 18px 5px; /* временно */
    }
  }

  .page-header__logo-image {
    display: block;

    &--mobile,
    &--tablet {
      display: none;
    }
  }

  .page-header__btn-close {
    display: none;
  }

  .page-header__link {
    padding: 20px 5px;
    line-height: 18px;
    font-weight: 400;
    text-transform: capitalize;
  }
}
