.page-header {
  position: relative;
  margin: 0 auto;
  width: 320px;
  background-color: $color-background-gray;
  box-sizing: border-box;
}

.page-header__items {
  width: 320px;
  @include reset-ul-style;
  margin: 0 auto;
  box-sizing: border-box;
}

.page-header__item {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  border-bottom: 1px solid $color-black;
  border-top: 1px solid $color-light-gray;
  background-color: $color-background-gray;

  &:first-child {
    border-top: none;
  }

  &--logo {
    display: inline-block;
    padding: 21px 20px;
  }
}

.page-header__btn-close {
  position: absolute;
  right: 13px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.page-header__image-btn-close {

  &:active {
    fill: $color-dark-red;
  }

  &:hover {
    fill: $color-red;
  }
}

.page-header__link {
  display: block;
  padding: 19px 20px;
  text-align: center;
  text-decoration: none;
  font-size: $font-size__title;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-white;

  &:active {
    color: $color-dark-red;
  }

  &:hover {
    color: $color-red;
  }
}


@media (min-width: 660px) {
  .page-header {
    width: 100%; /* new */
    /*width: 660px;*/
  }

  .page-header__items {
    width: 660px; /* new */
  }

  .page-header__item {
    width: 660px; /* new */
    /*width: 700px;*/
    /*margin-left: -20px;*/

    &--logo {
      padding: 44px 0 39px 93px;
    }
  }

  .page-header__link {
    padding: 18px 0 19.5px;
  }

  .page-header__btn-close {
    right: 11px;
  }
}


@media (min-width: 960px) {
  .page-header {
    width: 100%; /* new */
    max-width: 1200px; /* new */
    /*width: 960px;*/
  }

  .page-header__items {
    width: 960px; /* new */
    /*width: 1200px;*/
    /*margin-left: -120px;*/
    padding: 21px 0 25px 77px; /* временно */
    background-color: $color-background-gray;
  }

  .page-header__item {
    display: inline-block;
    width: auto;
    margin-right: 69px; /* временно */
    border: none;

    &:nth-child(2) {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &--logo {
      width: 90px; /* временно */
      margin-right: 150px; /* временно */
      padding: 18px 5px; /* временно */
    }
  }

  .page-header__btn-close {
    display: none;
  }

  .page-header__link {
    padding: 20px 5px;
    line-height: 18px;
    font-weight: 400;
    text-transform: capitalize;
  }
}
