.page-footer {
  margin: 0 auto;
  width: 320px;

  &--for-index {
    display: none;
  }
}

.page-footer__wrapper {
  margin: 0;
  padding: 41px 60px;
  box-sizing: border-box;
}

.page-footer__logo-image {
  display: inline-block;
  margin: 0 auto;
}

.page-footer__social-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 42px 10px 36px;
}

.page-footer__social-item {
  display: block;
  width: 51px;
  height: 51px;
  padding: 14px;
  border: 2px solid $color-light-gray;
  border-radius: 50%;
  box-sizing: border-box;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 27px;
}

.page-footer__copyright-text {
  color: $color-light-gray;
  margin: 0;
  margin-bottom: 7px;
}


@media (min-width: 660px) {
  .page-footer {
    width: 660px;

    &--for-index {
      display: block;
    }
  }

  .page-footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 660px;
    margin: 0;
    padding: 25px 20px;
  }

  .page-footer__social-items {
    width: 180px;
    justify-content: space-between;
    margin: 10px 10px 0 0;
  }

  .page-footer__copyright {
    justify-content: space-around;
    align-items: center;
    margin: 18px 0 0;
  }

  .page-footer__copyright-text {
    margin: 0 15px 8px 0;
  }
}

@media (min-width: 960px) {
  .page-footer {
    width: 960px;
  }

  .page-footer__wrapper {
    width: 960px;
    padding: 60px 10px;
  }

  .page-footer__social-items {
    margin: 14px 0 0 7px;
  }

  .page-footer__copyright {
    margin: 21px 0 0;
  }

  .page-footer__copyright-text {
    margin: 0 14px 8px 0;
    font-size: $font-size__title;
    line-height: 18px;
  }
}
