.page-title {
  width: 100%;
  margin: 0 auto;
}

.page-title__wrapper {
  width: 320px;
  min-height: 171px;
  margin: 0 auto;
  box-sizing: border-box;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 25%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-title__wrapper {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.page-title__text {
  padding: 30px 45px;
  margin: 0;
  text-align: center;
  font-size: $font-size__title--big;
  color: $color-white;
  font-weight: 100;
  line-height: 28px;
}


@media (min-width: 660px) {
  .page-title {
    width: 100%;
  }

  .page-title__wrapper {
    width: 660px;
    min-height: 330px;
    background-position: 50% 37%;
    background-size: 155%;
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-title__wrapper {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .page-title__text {
    padding-top: 70px;
    font-size: 50px;
    line-height: 60px;
  }
}

@media (min-width: 960px) {
  .page-title {
    max-width: 1200px;
  }

  .page-title__wrapper {
    width: 960px;
    min-height: 285px;
    background-position: 50% 55%;
    background-size: 200%;
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-title__wrapper {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .page-title__text {
    padding: 65px 280px;

    &--wide {
      padding: 65px 90px;
    }
  }
}
