.page-footer {
  width: 100%;
  margin: 0 auto;

  &--for-index {
    display: none;
  }
}

.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 41px 60px;
  box-sizing: border-box;
}

.page-footer__logo-image {
  display: block;
  margin: 0 auto;

  &--desktop {
    display: none;
  }
}

.page-footer__logo-image-letter {
  fill: #283645;
}

.page-footer__logo-image-glasses {
  fill: #D22856;
}

.page-footer__logo-image:hover .page-footer__logo-image-letter {
  fill: $color-red;
}

.page-footer__logo-image:hover .page-footer__logo-image-glasses {
  fill: $color-red;
}

.page-footer__logo-image:active .page-footer__logo-image-letter {
  fill: #283645;
  opacity: .3;
}

.page-footer__logo-image:active .page-footer__logo-image-glasses {
  fill: #D22856;
  opacity: .3;
}

.page-footer__social-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  margin: 42px 10px 36px;
}

.page-footer__social-item {
  display: block;
  width: 51px;
  height: 51px;
  padding: 10px;
  border: 3px solid $color-red-4;
  border-radius: 50%;
  text-align: center;
  box-sizing: border-box;

  &:hover {
    border-color: $color-black;
  }

  &:active > .page-footer__social-image {
    fill: $color-red;
    opacity: .3;
  }
}

.page-footer__social-image {
  vertical-align: middle;
  align-items: center;
  fill: $color-red;
  overflow: hidden;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 27px;
}

.page-footer__copyright-text {
  color: $color-light-gray;
  margin: 0;
  margin-bottom: 7px;
}

.page-footer__copyright-link {

  &:hover > .page-footer__copyright-image {
    fill: $color-black;
  }

  &:active > .page-footer__copyright-image {
    fill: $color-gray-5;
  }
}

.page-footer__copyright-image {
  fill: $color-red;
}



@media (min-width: 660px) {
  .page-footer {
    width: 100%;

    &--for-index {
      display: block;
    }
  }

  .page-footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 660px;
    margin: 0 auto;
    padding: 25px 20px;
  }

  .page-footer__social-items {
    width: 180px;
    justify-content: space-between;
    margin: 10px 10px 0 0;
  }

  .page-footer__copyright {
    justify-content: space-around;
    align-items: center;
    margin: 18px 0 0;
  }

  .page-footer__copyright-text {
    margin: 0 15px 8px 0;
  }
}

@media (min-width: 960px) {
  .page-footer {
    max-width: 1200px;
  }

  .page-footer__wrapper {
    width: 960px;
    padding: 60px 10px;
  }

  .page-footer__logo-image {
    display: block;
    margin: 0 auto;

    &--mobile {
      display: none;
    }
  }

  .page-footer__social-items {
    margin: 14px 0 0 7px;
  }

  .page-footer__copyright {
    margin: 21px 0 0;
  }

  .page-footer__copyright-text {
    margin: 0 14px 8px 0;
    font-size: $font-size__title;
    line-height: 18px;
  }
}
