.slogan {
  width: 320px;
  margin: 0 auto;
  color: $color-gray-font;
}

.slogan__text {
  padding: 41px 50px 35px;
  margin: 0;
  text-align: center;
  font-size: $font-size__title--big;
  font-weight: 100;
  line-height: 28px;

  &--small {
    padding: 44px 35px 49px;
    font-size: $font-size__text;
    font-weight: 400;
    line-height: 30px;
  }

  &--wide {
    padding: 44px 20px 18px;
    font-size: $font-size__text;
    font-weight: 400;
    line-height: 30px;
  }
}

.slogan__text-span {
  display: none;
  padding-top: 30px;
}


@media (min-width: 660px) {
  .slogan {
    width: 660px;
  }

  .slogan__text {
    padding: 49px 30px 35px;
    font-size: 40px;
    line-height: 47px;

      &--small {
        padding: 93px 50px 75px;
        font-size: $font-size__title;
        line-height: 30px;
      }

      &--wide {
        padding: 93px 50px 19px;
        font-size: $font-size__title;
        line-height: 30px;
      }
  }

  .slogan__text-span {
    display: block;
    padding-top: 0;
    padding: 0 10px;
  }
}


@media (min-width: 960px) {
  .slogan {
    width: 960px;
  }

  .slogan__text {
    padding: 65px 60px 35px;
    font-size: 50px;
    line-height: 60px;

    &--small {
      padding: 93px 190px 87px;
      font-size: $font-size__title;
      line-height: 30px;
    }

    &--wide {
      padding: 93px 100px 64px;
      font-size: $font-size__title;
      line-height: 30px;
    }
  }

  .slogan__text-span {
    padding: 0 190px;

    &--wide {
      display: inline;
      padding: 0;
    }
  }
}
