.posts {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.posts__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.posts__item {
  margin-bottom: 20.3px;

  &:first-child {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}


@media (min-width: 660px) {
  .posts {
    width: 100%;
  }

  .posts__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 660px;
    padding: 0 20px;
    margin-top: 48px;
  }

  .posts__item {
    margin-bottom: 20px;
  }
}


@media (min-width: 960px) {
  .posts {
    max-width: 1200px;
  }

  .posts__wrapper {
    max-width: 960px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .posts__item {
    margin-bottom: 55px;

    &:first-child {
      margin-bottom: 50px;
    }
  }
}
