.post {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 280px;
  box-sizing: border-box;
  background-color: $color-1-4;
}

.post__image {
  width: 280px;
  height: 180px;

  &--wide {
    margin-left: -20px;
    width: 320px;
    height: 137px;
  }
}

.post__link-full-image {
  height: 180px;

  &--wide {
    width: 320px;
    height: 137px;
  }
}

.post___label-block {
  position: absolute;
  width: 140px;
  padding: 10px 15px;
  margin: 0;
  top: 0;
  right: 0;
  background-color: $color-4;
  box-sizing: border-box;
  index: 1;
}

.post___label-text {
  text-align: center;
  margin: 0;
  font-size: $font-size__text--small;
  font-weight: 400;
  color: $color-white;
  text-transform: uppercase;
}

.post__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 280px;
  padding: 20px 15px;
  box-sizing: border-box;
}

.post__blockquote {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post__author‐name {
  margin: 0;
  font-weight: 700;
  line-height: 24px;
  font-style: normal;
}

.post__author‐name span {
  font-weight: 100;
}

.post__text {
  margin: 10px 0 15px;
  line-height: 24px;
  color: $color-gray-font;
}

.post__like {
  width: 15px;
  height: 15px;
  background-color: transparent;
  background-image: url("../img/icon-heart.svg"); /* Change color in SVG */
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.post__amount {
  margin-left: 9px;
  font-size: $font-size__text--small;
  text-transform: uppercase;
  line-height: 24px;
  color: $color-4;
}

/*
@media (min-width: 768px) {
  .post {
    justify-content: flex-start;
    width: 324px;
    padding: 0;
    border-top: none;

    &:first-child {
      width: 648px;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .post__image {
    width: 324px;
    height: 270px;

    &--big {
      width: 648px;
      height: 400px;
    }
  }

  .post__container {
    flex-direction: row;
    justify-content: space-between;
    padding: 18px 0px 17px;
    width: 324px;

    &--wide {
      width: 648px;
    }
  }

  .post__like-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 20px 0px 0px;
  }
}


@media (min-width: 1200px) {
  .post {
    justify-content: flex-start;
    width: 400px;
    padding: 0;
    flex-grow: 1;
    border-top: none;

    &:first-child {
      width: 1200px;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .post__image {
    width: 400px;
    height: 267px;

    &--big {
      width: 1200px;
      height: 400px;
    }
  }

  .post__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0px 17px;
    width: 400px;
    margin-top: -80px;
    background-color: rgba(0, 0, 0, 0.35);

    &--wide {
      width: 1200px;
    }
  }

  .post__like-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 20px 0px 0px;
  }
}
*/
