.post {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 280px;
  box-sizing: border-box;
}

.post__image {
  width: 280px;
  height: 180px;

  &--wide {
    width: 320px;
    height: 137px;
  }
}

.post__link-full-image {
  height: 180px;

  &--wide {
    margin-left: -20px;
    width: 320px;
    height: 137px;
  }
}

.post___label-block {
  position: absolute;
  width: 140px;
  padding: 6px 15px;
  margin: 0;
  top: 0;
  right: 0;
  background-color: $color-red;
  box-sizing: border-box;
  index: 1;
}

.post___label-text {
  text-align: center;
  margin: 0;
  font-size: $font-size__text--small;
  font-weight: 700;
  line-height: 24px;
  color: $color-white;
  text-transform: uppercase;
}

.post__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
  padding: 18px 22px 20px 18px;
  margin: 0;
  box-sizing: border-box;
  flex-grow: 1;
  background-color: $color-white-gray;
}

.post__author‐name {
  margin: 0;
  font-weight: 700;
  line-height: 24px;
  font-style: normal;
}

.post__time {
  font-weight: 100;
}

.post__text {
  margin: 0 0 10px;
  line-height: 24px;
  color: $color-gray-font;
}

.post__like-container {
  display: flex;
  align-items: center;
  width: 240px;
}

.post__like {
  width: 17px;
  height: 17px;
  padding-top: 0;
  border: none;
  background-color: transparent;
  background-position: center;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.post__amount {
  margin-left: 16px;
  font-size: $font-size__text--small;
  line-height: 24px;
  text-transform: uppercase;
  color: $color-red;
}


@media (min-width: 660px) {
  .post {
    width: 300px;
    padding: 0;

    &:first-child {
      width: 660px;
    }
  }

  .post__image {
    width: 300px;
    height: 300px;

    &--wide {
      width: 660px;
      height: 510px;
    }
  }

  .post__link-full-image {
    height: 300px;

    &--wide {
      width: 660px;
      height: 510px;
    }
  }

  .post___label-block {
    top: 57px;
    right: 20px;
  }

  .post__container {
    width: 300px;
    min-height: 155px;
    padding: 25px 27px 20px;

    &--wide {
      width: 620px;
      flex-direction: row-reverse;
      justify-content: space-between;
      flex-wrap: wrap;
      min-height: 120px;
      padding: 23px 27px 23px;
    }
  }

  .post__author‐name--wide {
    order: 2;
  }

  .post__text {
    margin-bottom: auto;

    &--wide {
      order: 3;
    }
  }

  .post__like-container {
    justify-content: space-between;
    width: 243px;

    &--wide {
      justify-content: center;
      order: 1;
      width: auto;
    }
  }

  .post__like {
    order: 2;
    margin-left: 14.5px;
  }

  .post__amount {
    margin-left: 0;
  }
}


@media (min-width: 960px) {
  .post:first-child {
      width: 960px;
  }

  .post__image {
    height: 400px;

    &--wide {
      width: 960px;
      height: 506px;
    }
  }

  .post__link-full-image {
    height: 400px;

    &--wide {
      width: 960px;
      height: 506px;
      margin-left: -10px;
    }
  }

  .post___label-block {
    top: 55px;
  }

  .post__container {
    padding: 24px 27px 22px;

    &--wide {
      width: 940px;
      min-height: 95px;
      padding: 25px 30px 22px 27px;
    }
  }

  .post__text--wide {
    margin-right: 20px;
  }
}
