.posts {
  position: relative;
  margin: 0 auto;
  width: 320px;
}

.posts__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  box-sizing: border-box;
}

.posts__item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}


/*
@media (min-width: 660px) {
  .posts {
    width: 660px;
  }

  .posts__wrapper {
    align-items: center;
    margin: 0 auto;
  }

  .posts__item {
    justify-content: flex-start;
    width: 324px;
    padding: 0;
    border-top: none;

    &:first-child {
      width: 648px;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

@media (min-width: 960px) {
  .posts {
    width: 100%;
  }

  .posts__item {
    justify-content: flex-start;
    width: 400px;
    padding: 0;
    flex-grow: 1;
    border-top: none;

    &:first-child {
      width: 960px;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
*/
