.posts {
  position: relative;
  margin: 0 auto;
  width: 320px;
}

.posts__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  box-sizing: border-box;
}

.posts__item {
  margin-bottom: 20.3px;

  &:last-child {
    margin-bottom: 0;
  }
}


@media (min-width: 660px) {
  .posts {
    width: 100%; /* new */
    /*width: 660px;*/
  }

  .posts__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 660px; /* new */
    padding: 0 20px; /* new */
  }

  .posts__item {
    margin-bottom: 20px;

    &:first-child {
      margin-bottom: 49px;
    }
  }
}


@media (min-width: 960px) {
  .posts {
    width: 100%; /* new */
    max-width: 1200px; /* new */
    /*width: 960px;*/
  }

  .posts__wrapper {
    width: 960px; /* new */
    padding: 0 10px; /* new */
  }

  .posts__item {
    margin-bottom: 55px;

    &:first-child {
      margin-bottom: 50px;
    }
  }
}
