.upload {
  margin: 0 auto;
  width: 320px;
  background-color: $color-white-gray;
}

.upload__title-container {
  padding: 41px 10px;
  background-color: $color-white;
  box-sizing: border-box;
}

.upload__title {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: $font-size__text;
  font-weight: 400;
  line-height: 30px;
  color: $color-gray-font;
}

.upload__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 20px 22px 40px 18px;
}

.upload__link-full-image,
.upload__image {
  width: 280px;
  height: 375px;
  margin: 0 auto;
}

.upload__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  @include reset-ul-style;
  padding: 40px 43px 71px 36px;
  border-bottom: 2px solid #dddfe0;
}

.upload__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.upload__tool-bar {
  display: none;

  /*&--active {
    display: block;
    margin-top: 30.5px;
  }*/
}

.upload__btn-post,
.upload__btn-cancel {
  width: 280px;
  padding: 16px 20px;
  border: 3px solid $color-red;
  color: $color-red;
  background-color: transparent;
  line-height: 18px;

}

.upload__btn-post {
  margin: 38px 0 12px;
}

.upload__btn-cancel {
  border: 2px solid #dddfe0;
  color: #dddfe0;
}

/*
@media (min-width: 660px) {

}

@media (min-width: 960px) {

}
*/
