.upload {
  margin: 0 auto;
  width: 320px;
  background-color: $color-white-gray;
}

.upload__title-container {
  padding: 45px 10px;
  background-color: $color-white;
  box-sizing: border-box;
}

.upload__title {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: $font-size__text;
  font-weight: 400;
  line-height: 30px;
  color: $color-gray-font;
}

.upload__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 20px 20px 40px;
}

.upload__link-full-image,
.upload__image {
  width: 280px;
  height: 375px;
  margin: 0 auto;
}

.upload__items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: flex-start;
  @include reset; /* сброс стилей для ul*/
  padding: 35px 30px 15px;
  border-bottom: 2px solid #dddfe0;
}

.upload__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.upload__tool-bar {
  display: none;

  &--active {
    display: block;
    margin-top: 25px;
  }
}

.upload__btn-post,
.upload__btn-cancel {
  width: 280px;
  padding: 10px 20px;
  border: 2px solid $color-red;
  color: $color-red;
  background-color: transparent;
}

.upload__btn-post {
  margin: 38px 0 10px;
}

.upload__btn-cancel {
  border: 2px solid #dddfe0;
  color: #dddfe0;
}
